<div class="choose-us-container">
    <div class="choose-us-content">
        <h2 class="side-heading">Why Choose Us?</h2>
        <p><strong>Balanced Meals</strong></p>
        <p>Our recipes are designed by nutritionists to provide a perfect balance of nutrients.</p>
        <p><strong>Hyderabad Exclusive</strong></p>
        <p>Serving the vibrant community of Hyderabad with healthful, delicious, and irresistible meals.</p>
        <p><strong>Nutrition Transparency</strong></p>
        <p>We believe in transparency, so all our recipes include detailed nutrition facts.</p>
    </div>
    <div class="choose-us-image">
        <div class="image-overlay"></div>
        <img src="assets/food.webp" alt="Why Choose Us Image">
    </div>
</div>
