<section class="content">
    <div class="testimonials">
        <h2>Testimonials</h2>
        <div class="testimonial">
            <p>"The best healthy food app I've ever used!"</p>
            <p>- Satisfied Customer</p>
        </div>
        <!-- Add more testimonials here -->
    </div>
    <div class="social-icons">
        <a href="#" class="social-icon"><img src="assets/instagram.png" alt="Instagram"></a>
        <a href="#" class="social-icon"><img src="assets/facebook.png" alt="Facebook"></a>
    </div>
</section>
